.menu {
  display: flex;
  gap: 5px;
}

.menu-item {
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}

.menu-item:hover {
  background-color: #bdbdc1;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.list-item {
  width: 30%;
}

.list-item img {
  width: 50%;
  margin: auto 10px;
  object-fit: contain;
}

h2 {
  font-size: 16px;
  font-weight: 300;
}

.list-item div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.black {
  background-color: #bdbdc1;
}

.good {
  display: flex;
  align-items: center;
  gap: 20px;
}

.good p {
  width: 60%;
}

.good img {
  height: 70vh;
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

.layout-menu {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .list-item {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .list-item {
    width: 95%;
  }
  .good {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .good p {
    width: 90%;
  }
  .good img {
    width: 90%;
    object-fit: contain;
  }
  .menu {
    flex-wrap: wrap;
  }
}
